:root {
  position:fixed;
  width:100vw;
  height:100vh;
  padding:0px;
  margin:0px;
  background-image:linear-gradient(red,yellow,green,cyan,blue,purple,red);
}
#test{
  color:navy;
  font-size:250%;
  padding-top:80%;
  padding-left:25%;
}