html,
body,
#root {
  height: 100vh;
  margin: 0;
}

#app {
  padding: 12px 10px 0 10px;
  display: flex;
  flex-flow: column;
  height: 100vh;
}

#history-page {
  overflow-y: auto;
  height: 100vh;
}

#generate-layout {
  display: flex;
  flex-flow: column;
  flex: 1;
  overflow-y: auto;
}

#generate-form {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  padding: 0 0 0 0;
}

.image-gallery {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-options {
  display: flex;
  flex-direction: column;
}

.gallery-options > sp-label {
  padding: 0;
  margin: 0;
}

.gallery-options > div {
  margin-top: -5px;
}

.image-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.image-tile sp-link {
  font-size: 11px;
}

.image-tile img {
  padding-bottom: 4px;
}

.image-tile-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.multi-prompt-actions {
  text-align: right;
}

.delete-image-history-cta {
  text-align: center;
}

.form-input-container {
  margin-bottom: 7px;
}

.picker-container {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.input-image-type-container {
  display: flex;
  flex-flow: column;
}

.input-image-type-container > sp-picker {
  padding-bottom: 4px;
  width: 170px;
}

.sd-engine-options {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  position: relative;
}

.sd-engine-options sp-picker {
  width: 100%;
}

.sd-engine-options > sp-checkbox {
  margin: 0 6px 0 6px;
}

.sampler {
  margin-top: 8px !important;
}

.sampler > sp-picker {
  margin-top: 2px;
  width: 100%;
}

#clipGuidance {
  margin-top: 6px;
}

#custom-model-key {
  width: 100%;
}

.text-and-button-container {
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  position: relative;
}

.text-and-button-container > sp-action-button {
  margin-left: 4px;
}

.text-and-button-container > sp-picker {
  width: 100%;
}

.img2img-container {
  display: flex;
  flex-direction: column;
}

.prompt-strength-container {
  width: 100%;
}

#inference-type {
  width: 200px;
}

#local-port {
  width: 70px;
}

.local-server-test-results > sp-body {
  padding: 6px 0 10px 0;
}

.generate-footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  height: 40px;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.avatar-and-credits {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.avatar-and-credits > sp-body {
  margin-left: 10px;
}

.dimension-container {
  align-items: flex-end;
  justify-content: space-between;
}

.dimension-container > sp-picker {
  width: 105px;
}

.pixel-count {
  text-align: left;
}

.full-dimensions-picker > sp-picker {
  width: 150px;
}

.dimension-container:last-child {
  margin-left: auto;
}

.bullet {
  padding: 0 2px 0 2px;
}

#app-version-tag {
  position: absolute;
  left: 6px;
  bottom: 4px;
  font-size: 10px;
  color: black;
}

sp-textfield {
  width: 100%;
}

sp-picker {
  width: 150px;
}

.prompt-input {
  width: 100%;
  height: 100px;
}

.cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px 0 5px 0;
}

.cta > sp-action-button {
  margin: 0 2px 0 2px;
}

/* Tabs */

.sp-tabs {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid #3e3e3e;
}

.dalle-tabs {
  margin-top: 10px;
  justify-content: center;
  border-bottom: 0;
}

.sp-tab {
  margin-right: 12px;
}
.sp-tab sp-label {
  color: rgba(255, 255, 255, 0.75);
}

.sp-tab:hover sp-label {
  color: white;
}

.sp-tab.selected {
  border-bottom: 2px solid white;
  margin-bottom: -2px;
}
.sp-tab.selected sp-label {
  color: white;
}

@media (prefers-color-scheme: light), (prefers-color-scheme: lightest) {
  .sp-tabs {
    border-bottom: 2px solid #b8b8b8;
  }
  .sp-tab sp-label {
    color: rgba(0, 0, 0, 0.66);
  }
  .sp-tab:hover sp-label {
    color: black;
  }
  .sp-tab.selected {
    border-bottom: 2px solid black;
  }
  .sp-tab.selected sp-label {
    color: black;
  }
}

.sp-tab-page {
  display: none;
  height: 100vh;
  padding: 12px 0 0 0;
  flex-direction: column;
}

.sp-tab-page.visible {
  display: flex;
}

.sp-tab-page-nested {
  display: none;
  padding: 12px 0 0 0;
  flex-direction: column;
}

.sp-tab-page-nested.visible {
  display: flex;
}

.page-container {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  flex: 1 0;
}

sp-tooltip {
  position: absolute;
  z-index: 10;
}

/* Groups */
.group {
  flex: 0 0 auto;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding: 24px 12px 12px 12px;
  position: relative;
  margin-top: 1em;
  margin-bottom: 22px;
}
#sp-native-tab-page .group {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.group > sp-label:not(.safe) {
  position: absolute;
  top: -1em;
  left: 0px;
  background-color: #3e3e3e;
  display: block;
  padding: 4px 12px;
  border-radius: 4px;
}

.group-tighten-up {
  margin-bottom: 12px;
}

.group-less-top-margin {
  padding-top: 4px;
  padding-bottom: 6px;
}

@media (prefers-color-scheme: light), (prefers-color-scheme: lightest) {
  .group {
    background-color: rgba(0, 0, 0, 0.0625);
  }
  .group > sp-label:not(.safe) {
    background-color: #e8e8e8;
  }
}

.group > :not(sp-label) {
  margin: 6px;
}
